.ant-form-item-label label {
  color: white;
}

.ant-form-item-label {
  width: 20%;
}

.ant-card-head {
  color: white;
}

.ant-form-item {
  display: flex;
  margin-bottom: 10px;
}

.ant-form-item-control-wrapper {
  width: 60%;
}

.ant-input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: white;
}

.ant-input:focus {
  box-shadow: none;
  border-color: rgb(64, 169, 255);
}

.has-error .ant-input:focus {
  box-shadow: none;
  border-color: #f5222d;
}

.ant-form-item-control {
  margin-left: 3%;
}
.ant-select-selection {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: white;
  box-shadow: none;
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border-color: rgb(64, 169, 255);
  box-shadow: none;
}
